# SQL query 생성 코드

엑셀 파일을 불러온 후, 자동으로 SQL 쿼리로 변환해주는 코드입니다.

In [1]:
import pandas as pd

# 데이터 불러오기
pd.set_option("display.precision", 17)
df = pd.read_excel('../refined_small.xlsx')

In [35]:
# 값 수정 및 컬럼명 수정
df['혼밥가능?'] = df['추천인원수'].apply(lambda x: '1' in str(x))
df['단체가능?'] = None # 이거 어떡하지?

df = df[['식당이름(PK)', '대표메뉴', '혼밥가능?', '단체가능?', '카테고리', '거리(km)', '전화번호', '주소', '위도', '경도', '영업시작시간', '영업종료시간', '브레이크시작', '브레이크종료']]
df.rename(columns={
    '식당이름(PK)': 'name',
    '대표메뉴': 'signature',
    '혼밥가능?': 'allowOne',
    '단체가능?': 'allowMulti',
    '카테고리': 'category',
    '거리(km)': 'distance',
    '전화번호': 'phone',
    '주소': 'address',
    '위도': 'latitude',
    '경도': 'longitude',
    '영업시작시간': 'openTime',
    '영업종료시간': 'closeTime',
    '브레이크시작': 'breakStart',
    '브레이크종료': 'breakEnd'
}, inplace=True)

In [57]:
# 쿼리 제작
print('INSERT INTO [dbo].[Restaurants] VALUES')
for _, *i in df.itertuples():
    name, signature, allowOne, _, category, distance, phone, address, latitude, longitude, openTime, closeTime, breakStart, breakEnd = i
    print(f"(N'{name}', N'{signature}', {1 if allowOne else 0}, NULL, N'{category}', {distance}, '{phone}', N'{address}', {latitude}, {longitude},", end='')
    if isinstance(openTime, float) or isinstance(closeTime, float): # nan
        print('NULL, NULL, ', end='')
    else:
        print(f"'{openTime}', '{closeTime}', ", end='')
    if isinstance(breakStart, float) or isinstance(breakEnd, float): # nan
        print('NULL, NULL),')
    else:
        print(f"'{breakStart}', '{breakEnd}'),")

INSERT INTO [dbo].[Restaurants] VALUES
(N'미니자이언트', N'파스타', 1, NULL, N'양식', 0.419, '02-3280-0970', N'흑석동 195-8', 37.5072, 126.9586,'10:00:00', '20:00:00', NULL, NULL),
(N'미묘라멘', N'일본식라면', 1, NULL, N'일식', 0.768, '02-822-8998', N'서달로13길2', 37.508, 126.9626,'11:30:00', '20:00:00', '14:30:00', '17:00:00'),
(N'미소야', N'돈가스', 1, NULL, N'일식', 0.692, '02-823-7304', N'흑석로 111', 37.5085, 126.9611,'11:00:00', '22:00:00', NULL, NULL),
(N'미스사이공', N'베트남 쌀국수', 1, NULL, N'기타', 0.913, '02-827-0420', N'양녕로 268', 37.5034, 126.9489,'11:00:00', '22:00:00', NULL, NULL),
(N'미스터초밥', N'초밥', 1, NULL, N'일식', 1.5, '02-821-6332', N'상도로31길 19', 37.5054, 126.944,'11:00:00', '22:00:00', '15:00:00', '17:00:00'),
(N'미태리', N'파스타', 1, NULL, N'양식', 0.698, '02-3280-7555', N'서달로 159 1층', 37.5077, 126.9621,'11:00:00', '21:00:00', NULL, NULL),
(N'밀플랜비', N'부리또', 1, NULL, N'양식', 0.492, '02-822-9269', N'흑석로 13가길 42 1층', 37.5075, 126.9595,'10:30:00', '20:30:00', NULL, NULL),
(N'밀피유365Plus', N'돈가스', 1, NULL, N'일식', 1.1, '0507-1318-5405', N'동작구 상도로47길 13 1층', 37.4999, 126.9516,NULL, NULL, NULL, NULL),
(N'바로요거', N'카페,디저트', 1, NULL, N'디저트', 0.8, '010-6664-0847', N'흑석로 124-1 1층', 37.509, 126.9622,'10:00:00', '21:00:00', NULL, NULL),
(N'밥은화', N'덮밥', 1, NULL, N'한식', 0.498, '02-3280-6470', N'흑석로8길 9', 37.5067, 126.9597,'11:00:00', '20:00:00', NULL, NULL),
(N'백소정', N'돈가스', 1, NULL, N'일식', 0.524, '02-6949-6221', N'흑석로9길 2 2층', 37.5076, 126.9601,'11:00:00', '21:30:00', '15:00:00', '17:00:00'),
(N'백채김치찌개', N'김치찌개', 1, NULL, N'한식', 0.433, '02-811-7754', N'흑석로 88 2층', 37.5071, 126.9593,'11:00:00', '22:00:00', NULL, NULL),
(N'본죽,비빔밥', N'죽', 1, NULL, N'한식', 0.48, '02-813-8802', N'흑석로 91 1층', 37.5074, 126.9597,'09:00:00', '21:00:00', NULL, NULL),
(N'봉구스밥버거', N'밥버거', 1, NULL, N'한식', 0.63, '02-815-6006', N'흑석로 8', 37.5047, 126.9515,'10:00:00', '20:30:00', NULL, NULL),
(N'봉추찜닭', N'찜닭', 0, NULL, N'한식', 0.433, '02-6402-6981', N'흑석로 88 2층 202호', 37.5071, 126.9594,'10:30:00', '23:00:00', NULL, NULL),
(N'봉평면옥', N'막국수,옹심이', 1, NULL, N'한식', 0.845, '0507-1496-0617', N'서달로14나길 24-2 1층 1호', 37.5072, 126.9631,'11:00:00', '20:00:00', '15:00:00', '17:00:00'),
(N'북경', N'중식', 1, NULL, N'중식', 1.1, '02-822-8022', N'상도로37길 21 1층', 37.5017, 126.9498,NULL, NULL, NULL, NULL),
(N'북촌순두부&쭈꾸미', N'순두부', 1, NULL, N'한식', 0.281, '02-812-5001', N'흑석로 84 R&D센터 지하1층 112호', 37.5064, 126.9589,NULL, NULL, NULL, NULL),
(N'빽찐라면', N'라면', 1, NULL, N'분식', 1.1, '02-6397-4186', N'상도로 295 가동 1층', 37.5015, 126.9495,'11:30:00', '18:00:00', '15:00:00', '16:30:00'),
(N'사과나무왕돈까스', N'돈가스', 1, NULL, N'양식', 0.5, '02-825-1831', N'흑석로9길 7', 37.5076, 126.9598,'11:00:00', '21:00:00', NULL, NULL),
(N'사리원', N'만두', 1, NULL, N'분식', 1.4, '02-814-6022', N'상도로50길 2-15', 37.4992, 126.9506,'11:00:00', '21:00:00', '15:30:00', '16:30:00'),
(N'사이공파크', N'베트남음식(쌀국수,반미)', 1, NULL, N'기타', 0.854, '070-4833-4504', N'현충로 52 아크로리버하임 근린생활시설 1층', 37.5091, 126.9616,'10:30:00', '21:00:00', NULL, NULL),
(N'사현스낵', N'중식', 1, NULL, N'중식', 0.588, 'x', N'흑석로11길 3 1층', 37.5078, 126.9603,'10:00:00', '22:00:00', '15:00:00', '17:00:00'),
(N'삼백돈돈가츠', N'돈가스', 1, NULL, N'일식', 0.503, '02-3280-3889', N'흑석로9길 11', 37.5076, 126.9595,'11:00:00', '21:00:00', '16:00:00', '17:00:00'),
(N'상도덮밥', N'덮밥', 1, NULL, N'한식', 1.0, '02-3280-7700', N'상도로41길 7 1층', 37.5017, 126.9496,'10:00:00', '21:00:00', '14:00:00', '17:00:00'),
(N'상도동실내포장마차,물회', N'물회', 0, NULL, N'기타', 1.2, '02-821-3825', N'상도로 288', 37.5018, 126.9485,'16:30:00', '23:00:00', NULL, NULL),
(N'상도동함흥면옥', N'냉면', 1, NULL, N'기타', 1.5, '02-813-3392', N'상도로 219 1층', 37.5054, 126.9432,'11:00:00', '21:00:00', NULL, NULL),
(N'상도쭈꾸미', N'쭈꾸미 요리', 0, NULL, N'한식', 0.967, '02-3280-5492', N'매봉로 13 B102호', 37.5058, 126.9502,'11:00:00', '21:50:00', NULL, NULL),
(N'상도코다리와낙지', N'낙지요리', 0, NULL, N'한식', 0.594, 'x', N'흑석로 101-3', 37.5079, 126.9607,NULL, NULL, NULL, NULL),
(N'샐러드박스', N'샐러드', 1, NULL, N'기타', 1.3, '02-815-6337', N'만양로 3 1층', 37.5052, 126.9464,'10:00:00', '21:00:00', NULL, NULL),
(N'샐러디', N'샐러드', 1, NULL, N'기타', 0.45, '070-7801-0011', N'흑석로 25 1층', 37.5051, 126.9533,'09:00:00', '20:00:00', NULL, NULL),
(N'서브웨이', N'샌드위치', 1, NULL, N'기타', 0.377, '02-815-6429', N'흑석로 79', 37.507, 126.9585,'08:10:00', '21:50:00', NULL, NULL),
(N'선김밥', N'김밥', 1, NULL, N'분식', 1.2, '02-813-2647', N'상도로 293 1층', 37.5016, 126.9493,'09:30:00', '21:00:00', NULL, NULL),
(N'세울타코', N'타코', 1, NULL, N'기타', 0.481, '0507-1488-0907', N'흑석로20 지하 1층', 37.5048, 126.953,'10:30:00', '20:30:00', NULL, NULL),
(N'송탄부대찌개', N'부대찌개', 1, NULL, N'분식', 1.0, '02-814-4864', N'상도로41길 12 1층', 37.5017, 126.9499,NULL, NULL, NULL, NULL),
(N'수라청', N'한식', 1, NULL, N'한식', 1.3, '02-822-1825', N'만양로 11', 37.5059, 126.947,'11:00:00', '21:00:00', '15:30:00', '17:30:00'),
(N'수목식당', N'국수', 1, NULL, N'기타', 0.832, '02-816-3556', N'서달로14나길 28', 37.507, 126.963,'10:00:00', '20:30:00', NULL, NULL),
(N'수타짜장중국성', N'중식', 1, NULL, N'중식', 1.2, '02-823-6261', N'상도로 291 1층', 37.5017, 126.9492,'09:00:00', '21:00:00', NULL, NULL),
(N'순대나라', N'순댓국', 1, NULL, N'한식', 0.816, '02-815-0937', N'서달로12가길 5', 37.5066, 126.9627,'09:30:00', '21:30:00', '14:20:00', '14:50:00'),
(N'숯불에닭', N'숯불닭갈비', 0, NULL, N'한식', 0.903, '02-3280-3392', N'양녕로 268-1 1층', 37.5036, 126.949,'14:00:00', '00:00:00', NULL, NULL),
(N'스시초이', N'덮밥', 1, NULL, N'양식', 0.212, '02-822-6477', N'흑석로6길 18', 37.5059, 126.9566,'11:00:00', '21:00:00', NULL, NULL),
(N'스시톡톡', N'초밥', 1, NULL, N'일식', 0.651, '02-812-5565', N'흑석로 109 2층', 37.5083, 126.9611,'11:00:00', '22:00:00', '15:30:00', '17:00:00'),